{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block main %}

<div id="main" class="layout-navbar">

    {% include 'dashboard/componentes/header.html' %}

    <div id="main-content">

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Listado de Mantenimientos Realizados</h3>
                        <p class="text-subtitle text-muted">Listado completo de todos las fichas de mantenimientos realizados.</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'mantenimiento_index' %}">Mantenimientos</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Listado de Fichas</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <section class="section">
                <div class="card">
                    <div class="card-header">
                        Tabla de Fichas para Mantenimientos
                    </div>

                    <div class="card-content">
                        <div class="card-body">
                            <table class="table table-hover mb-0" id="table1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Código</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                        <th>Fecha Ingreso</th>
                                        <th>Cliente</th>
                                        <th>Técnico</th>
                                        <th>Acciónes</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                    {% for i in fichas %}
                                    <tr>
                                        <td scope="row">{{forloop.counter}}</td>
                                        <td>{{i.codigo_man}}</td>
                                        <td>{{i.tipo_man}}</td>
                                        <td>{{i.estado_man}}</td>
                                        <td>{{i.fecha_ingreso_man|date:"SHORT_DATE_FORMAT"}}</td>
                                        <td>{{i.cliente.cedula_cliente}} / {{i.cliente.nombre1_cliente}} {{i.cliente.apellido1_cliente}}</td>
                                        <td>{{i.usuario}}</td>
                                        <td class="text-center">
                                            <a title="Ver Detalles" href="{% url 'mantenimiento_detalle' i.id %}"><i
                                                    class="bi bi-eye-fill me-2" style="font-size: x-large;"></i></a>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>

            </section>

        </div>
        {% include 'dashboard/componentes/footer.html' %}

    </div>
</div>

{% endblock main %}