{% extends 'home/base_home.html' %}
{% load static %}

{% block carrusel %}
{% endblock carrusel %}

{% block about %}
{% endblock about %}

{% block servicios %}
{% endblock servicios %}


{% block contactenos %}
<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Catálogos.</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a style="color:#e51e38;" href="{% url 'index' %}">Inicio</a></h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">Catálogos</h6>
    </div>
</div>
<!-- Page Header Start -->
<!-- Appointment Start -->
<div class="container-fluid py-5 px-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-4">
                <h1 class="display-6 text-uppercase mb-4" style="font-size: calc(0.5rem + 1.5vw) !important;"><span
                        class="text-primary">Catálogos </span>de Productos</h1>
            </div>
            <p class="mb-3">
                Ponemos a su disposición nuestra gran gama de <span class="text-primary">Productos Disponibles</span> en
                nuestro local comercial por medio de estos Catálogos, en donde encontraras lo mejor y más variado en:
                <br><br>Instrumentos musicales, sistemas Line Array, Equipos de
                amplificación e
                iluminación profesional para bandas, orquestas, cd móvil, equipamiento para
                estudios de grabación y todo para el dj profesional, en las mejores marcas.
                <br><br>Si no encuentras lo que deseas en nuestros catálogos puedes comunicarte con nosotros por medio
                de Correo, Llamada o
                Whatsapp
                que se encuentran al final de la pagina.
                <br><br>Gracias por preferirnos
            </p>
        </div>
        <div class="col-lg-8">
            <div class="mb-5">
                <h3 class="text-uppercase mb-4 text-center">Ultimos Catálogos</h3>
                <div class="bg-light p-4">
                    <!--
                    <div class="catalogo bg-white" style="">
                        <a href="{% url 'index' %}" target="_blank">
                            <div class="d-flex mb-3">
                                <div class="bg-white">
                                    <img class="img-fluid rounded float-left" src="{% static 'otros/img/prueba.png' %}"
                                        style="max-width: 200px; height: 200px; object-fit: contain;" alt="">
                                </div>
                                <a target="_blank"
                                    href="https://drive.google.com/file/d/18yWW0Nikm5cWUEbVWIGpSO2P8A7UrtWf/view?usp=sharing"
                                    class="h6 d-flex align-items-center bg-white text-uppercase px-3 mb-0">Nuevos
                                    Productos Sonic Junio 2022<i class="fa fa-cloud-download me-2"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                    
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{% static 'otros/img/servicio3.jpg' %}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0 bg-light position-relative bg-white mb-3">
                        <div
                            class="col-md-6 mb-md-0 p-md-4 bg-white rounded d-flex flex-column align-items-center text-center">
                            <img src="{% static 'otros/img/servicio3.jpg' %}" class="img-fluid"
                                style="max-width: 200px; object-fit: contain;">
                        </div>
                        <div class="col-md-6 p-4 ps-md-0">
                            <h5 class="mt-0">Productos Sonic Junio 2022</h5>
                            <p>Productos de la marca Sonic disponibles en el local comercial.</p>
                            <a href="https://drive.google.com/file/d/18yWW0Nikm5cWUEbVWIGpSO2P8A7UrtWf/view?usp=sharing"
                                class="stretched-link"><i class="bi bi-download me-2"></i>Ver Catálogo</a>
                        </div>
                    </div>
                    -->
                    <div class="row g-0 bg-light position-relative bg-white mb-3">
                        <div
                            class="col-md-4 align-items-center text-center">
                            <img src="https://face.unt.edu.ar/web/biblioteca/wp-content/uploads/sites/19/2019/05/catalogo-online.png" class="img-fluid rounded-start"
                                style="max-width: 200px; object-fit: contain;">
                        </div>
                        <div class="col-md-8 p-4 ps-md-0">
                            <h5 class="mt-0">Productos Sonic Junio 2022</h5>
                            <p>Productos de la marca Sonic disponibles en el local comercial.</p>
                            <a target="_blank" href="https://drive.google.com/file/d/18yWW0Nikm5cWUEbVWIGpSO2P8A7UrtWf/view?usp=sharing"
                                class="stretched-link"><i class="bi bi-download me-2"></i>Ver Catálogo</a>
                        </div>
                    </div>
                    <div class="row g-0 bg-light position-relative bg-white mb-3">
                        <div
                            class="col-md-4 align-items-center text-center">
                            <img src="https://face.unt.edu.ar/web/biblioteca/wp-content/uploads/sites/19/2019/05/catalogo-online.png" class="img-fluid rounded-start"
                                style="max-width: 200px; object-fit: contain;">
                        </div>
                        <div class="col-md-8 p-4 ps-md-0">
                            <h5 class="mt-0">Productos FBT X pro Julio 2022</h5>
                            <p>Productos de la marca Sonic disponibles en el local comercial.</p>
                            <a target="_blank" href="https://drive.google.com/file/d/1Qv8vC0b7u5WnpO81fOjXaBjrFyk-53N7/view?usp=sharing"
                                class="stretched-link"><i class="bi bi-download me-2"></i>Ver Catálogo</a>
                        </div>
                    </div>
                    <div class="row g-0 bg-light position-relative bg-white mb-3">
                        <div
                            class="col-md-4 align-items-center text-center">
                            <img src="https://face.unt.edu.ar/web/biblioteca/wp-content/uploads/sites/19/2019/05/catalogo-online.png" class="img-fluid rounded-start"
                                style="max-width: 200px; object-fit: contain;">
                        </div>
                        <div class="col-md-8 p-4 ps-md-0">
                            <h5 class="mt-0">Productos Quick Lok 2022</h5>
                            <p>Productos de la marca Sonic disponibles en el local comercial.</p>
                            <a target="_blank" href="https://drive.google.com/file/d/1ZkgzoVJWDO-fF4Szj5udJSntuSgYVpKt/view?usp=sharing"
                                class="stretched-link"><i class="bi bi-download me-2"></i>Ver Catálogo</a>
                        </div>
                    </div>
                    <div class="row g-0 bg-light position-relative bg-white mb-3">
                        <div
                            class="col-md-4 align-items-center text-center">
                            <img src="https://face.unt.edu.ar/web/biblioteca/wp-content/uploads/sites/19/2019/05/catalogo-online.png" class="img-fluid rounded-start"
                                style="max-width: 200px; object-fit: contain;">
                        </div>
                        <div class="col-md-8 p-4 ps-md-0">
                            <h5 class="mt-0">Productos Mixer, Consolas, Micrófonos Julio 2022</h5>
                            <p>Productos de la marca Sonic disponibles en el local comercial.</p>
                            <a target="_blank" href="https://drive.google.com/file/d/1ByYGkaOXXLKUh2v8k3NhUJyZ2J_tgFGd/view?usp=sharing"
                                class="stretched-link"><i class="bi bi-download me-2"></i>Ver Catálogo</a>
                        </div>
                    </div>
                    <div class="row g-0 bg-light position-relative bg-white mb-3">
                        <div
                            class="col-md-4 align-items-center text-center">
                            <img src="https://face.unt.edu.ar/web/biblioteca/wp-content/uploads/sites/19/2019/05/catalogo-online.png" class="img-fluid rounded-start"
                                style="max-width: 200px; object-fit: contain;">
                        </div>
                        <div class="col-md-8 p-4 ps-md-0">
                            <h5 class="mt-0">Productos de Repuestos Julio 2022</h5>
                            <p>Productos de la marca Sonic disponibles en el local comercial.</p>
                            <a target="_blank" href="https://drive.google.com/file/d/1j0kQY9v4JBL2w4uNeee8xdYuqZAb95Vi/view?usp=sharing"
                                class="stretched-link"><i class="bi bi-download me-2"></i>Ver Catálogo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
{% endblock contactenos %}


{% block portafolio %}
{% endblock portafolio %}

{% block team %}
{% endblock team %}

{% block testimonio %}
{% endblock testimonio %}

{% block blog %}
{% endblock blog %}